---
layout: default
title: Home
---

<div class="posts">
  <h3>
    Projects/Misc
  </h3>
  <ul class="post-list">
    <li class="list-item">
        <a href="https://dl.dropboxusercontent.com/u/2935/JimiSmootCV.pdf">My CV</a>
    </li>
    <li class="list-item">
        <a href="http://www.vesper.ai">Vesper</a>
    </li>
    <li class="list-item">
        <a href="http://www.mailmentor.io">MailMentor.io</a>
    </li>
    <li class="list-item">
        <a href="https://github.com/octaviuslabs/hash_identable">Hash Identable</a>
    </li>
  </ul>
  <h3>
    Posts/Links
  </h3>
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="list-item">
        <small>
          {{ post.date | date_to_string }} ::
        </small>
        {% if post.external_url %}
          <a href="{{ post.external_url }}">
        {% else %}
          <a href="{{ post.url |  prepend: site.baseurl }}">
        {% endif %}
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
