---
layout: default
title: Home
---

<div class="posts">
  <h3>
    Projects/Misc
  </h3>
  <ul class="post-list">
    <li class="list-item">
      <a href="{{ site.baseurl }}/podcast">The Prior Transformation</a>
    </li>
    <li class="list-item">
      <a href="http://www.octaviuslabs.com/">Octavius Labs</a>
    </li>
    <li class="list-item">
        <a href="https://www.goodreads.com/review/list/30750463-jimi-smoot?utf8=%E2%9C%93&utf8=%E2%9C%93&shelf=read&per_page=infinite">What I'm Reading</a>
    </li>
    <li class="list-item">
        <a href="http://www.vesper.ai">Vesper</a>
    </li>
    <li class="list-item">
        <a href="http://www.mailmentor.io">MailMentor.io</a>
    </li>
    <li class="list-item">
        <a href="http://linkmentor.io/">LinkMentor.io</a>
    </li>
  </ul>
  <h3>
    Posts/Links
  </h3>
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="list-item">
        <small>
          {{ post.date | date_to_string }} ::
        </small>
        {% if post.external_url %}
          <a href="{{ post.external_url }}">
        {% else %}
          <a href="{{ post.url |  prepend: site.baseurl }}">
        {% endif %}
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
