.post-list {
  list-style-type: none;
  padding-left: 0rem;
}

.list-item {
  padding-bottom: 0.1rem;
}

.external {
  font-size: .8rem;
  font-style: italic;
}

.list-date {
  font-style: italic;
}

img.center {
  display: block;
  margin: 0 auto;
}

img.ptlogo {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}
